#quote-list {
  padding: 20px;
}

.btn-edit {
  background-color: darkgoldenrod;
  color: white;
  padding: 1px 6px;
  border-color: darkgoldenrod;
}

.btn-submit {
  background-color: darkcyan;
  color: white;
  padding: 1px 6px;
  border-color: darkcyan;
}

.edit-label {
  margin-right: 5px;
  margin-top: 15px
}

.off {
  background-color: darkred;
  color: white
}

.on {
  background-color: darkgreen;
  color: white
}